.body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.card{
    width: 200px;
 
    border-radius: 8px;
   box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}  
.card:hover{
    box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
}
img{
    width: 100%;
} 
#clothing,#accessories{
    display: flex;
    justify-content: space-evenly; 
    
} 
.text_Section{
    margin-left:15px; 
    font-size: 15px;
    padding: 10px;
} 
.text_Section span{
  color: rgb(0 150 136);
}
.text_Section p{
  color: rgb(110, 110, 110);
}


@media only screen and (max-width:760px) and (min-width:320px){
  #clothing,#accessories{
   
    flex-wrap: wrap;
   
    flex-wrap: wrap;
    width: 300px;

    
    justify-content: space-around;
    

  }
  .body{
    overflow-x: hidden;
  }
    .card{

    width: 145px;
   
  }
  h1{
    font-size: 12px;
  }
  img{
    width:100%;

  }

  .card p{
    font-size: 13px;
  } 
  
}